# Generic .gitignore file
#
# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Binaries for programs and plugins
*.exe
*.exe~
*.msi
*.dll
*.so
*.dylib

# Logs
*.log
logs/

# Secrets
*.env
.env*
*.pem
*.key
*.secret
*.pfx
*.crt

# Editor/IDE
.vscode/
